<section class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1>{{ especialidad.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div [className]="especialidad.title == 'Adultos' ? 'col s12 m9 offset-m2' : 'col m12 m9 offset-m3'">
            <figure>
                <img class="responsive-img" src="{{ especialidad.dibujo }}" alt="Terapia {{ especialidad.title }}">
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h2 class="center-align">{{ especialidad.desc.title}}</h2>

            <p class="flow-text" *ngFor="let parrafo of especialidad.desc.parrafos">
                {{ parrafo }}
            </p>

            <ol id="listado">
                <li class="flow-text" *ngFor="let elem of especialidad.desc.listado">{{ elem }}</li>
            </ol>
        </div>
    </div>
</section>

<app-footer></app-footer>