<div class="container">
    <section class="container">
        <div class="row">
            <div class="col s12 center-align">
                <h1>{{ especialidad.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m9 offset-m2">
                <figure>
                    <img class="responsive-img" src="{{ especialidad.dibujo }}" alt="Terapia {{ especialidad.title }}">
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h2 class="center-align">Terapia individual</h2>
                <p class="flow-text">Nos gustaría concretar todas las posibles razones para empezar una terapia psicológica, pero es complicado porque, hay tantas razones y motivos como personas que demandan atención psicológica.</p>
                <p class="flow-text">
                    En general diremos que las personas adultas acuden al psicólogo cuando las estrategias personales para solucionar los problemas emocionales dejan de ser suficientes y hay un sentimiento de desesperanza.
                </p>
                <p class="flow-text">
                    También podemos precisar apoyo o consejo ante situaciones en las que no somos capaces de identificar porque nos sentimos desanimados, enfados o tristes.
                </p>
                <p class="flow-text">
                    A veces incluso se busca un psicólogo por consejo de otro profesional sanitario: médico, fisioterapeuta…etc. Y la razón es que factores como el estrés y la ansiedad pueden derivar en síntomas psicosomáticos como cansancio, contracturas musculares, trastornos
                    digestivos, cefaleas tensionales, dolor crónico,…etc.
                </p>
                <p class="flow-text">
                    De lo que estamos seguros es que es recomendable acudir a un psicólogo cuando estamos atravesando por una situación de alto nivel de malestar y sufrimiento, que afecta o dificulta nuestras actividades de vida cotidiana y nuestras relaciones con los otros.
                </p>
                <p class="flow-text">Esta es la lista de los problemas que trabajamos en consulta con mayor frecuencia: </p>
                <ol id="listado">
                    <li class="flow-text">Trastornos de la ansiedad.</li>
                    <li class="flow-text">Trastornos del estado de ánimo.</li>
                    <li class="flow-text">Trastornos adaptativos o problemas derivados de sucesos estresantes (ruptura sentimental, divorcio, separación, problemas conyugales, enfermedad médica crónica, dificultades emocionales, problemas en el trabajo, cambio de residencia,
                        casarse, tener hijos, jubilarse… etcétera).</li>
                    <li class="flow-text">Problemas de inseguridad, toma de decisiones.</li>
                    <li class="flow-text">Duelo por fallecimiento de un ser querido y otras pérdidas.</li>
                    <li class="flow-text">Problemas laborales y orientación laboral.</li>
                    <li class="flow-text">Fobia social y fobias específicas (a conducir, a volar…etc).</li>
                    <li class="flow-text">Trastornos psicosomáticos y problemas de salud.</li>
                    <li class="flow-text">Trastornos de personalidad (Trastorno obsesivo-compulsivo de la personalidad, TLP, Trastorno Evitativo, Trastorno de personalidad por Dependencia)</li>
                    <li class="flow-text">Adicciones y problemas de control de impulsos.</li>
                </ol>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>