<div class="slider">
    <ul class="slides">
        <li>
            <img src="../../../assets/img/image1.JPG">
        </li>
        <li>
            <img src="../../../assets/img/coworking-02.jpg">
        </li>
        <li>
            <img src="../../../assets/img/coworking-024-web.jpg">
        </li>
        <li>
            <img src="../../../assets/img/despacho-001-web.jpg">
        </li>
        <li>
            <img src="../../../assets/img/despacho-003-web.jpg">
        </li>
    </ul>
</div>