<footer class="page-footer container">
    <div class="footer-copyright">
        <div class="container">
            <span><i class="tiny material-icons">copyright</i> 2017 Psicología Miraflores</span>
            <a id="aviso-legal" [routerLink]="['/avisoLegal']">Aviso legal</a>

            <a class="grey-text text-lighten-4 right" id="instagram" href="https://www.instagram.com/psicologiamiraflores" onclick="ga('send', 'event', 'Enlaces', 'Instagram', 0);">
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            </a>
            <a class="grey-text text-lighten-4 right" id="facebook" href="https://www.facebook.com/psicologiamirafloresdelasierra" onclick="ga('send', 'event', 'Enlaces', 'Facebook', 0);">
                <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>

            </a>
        </div>
    </div>
</footer>