<div class="parallax-container">
    <div class="parallax"><img src="../../../assets/img/light-bulb.jpg"></div>
</div>
<div class="container">
    <div class="row hide-on-med-and-down">
        <div class="col s12">
            <p class="flow-text ">
                Psicóloga colegiada con siete años de experiencia en clínica privada, especializada en terapia de adultos, adolescentes y terapia de pareja. Las consultas están situadas en Madrid zona Goya, y en los municipios de la sierra norte madrileña: Miraflores
                de la Sierra y Colmenar Viejo. A su vez, cuenta con un sistema exclusivo y novedoso de consultas online. Sistema basado en su experiencia clínica y usando los medios actuales de comunicación.
            </p>
        </div>
    </div>
    <div class="row">

        <app-card></app-card>
    </div>
    <app-cookies></app-cookies>
</div>