<div class="parallax-container animated fadeIn slow">
    <div class="parallax"><img src="../../../assets/img/light-bulb.jpg"></div>
    <div class="container botonesParallax hide-on-small-only">
        <div class="boton7">
            <a href="https://psicologiaonline.simplybook.it" class="waves-effect waves-light btn-large">
                <span class="card-title">Reserva tu terapia</span>
                <span class="card-title">+34 644435941</span>
                    <ul>
                        <li>Presencial</li>
                        <li>Online</li>
                        <li>Domicilio</li>
                    </ul>
            </a>
        </div>

        <div class="boton2">
            <a [routerLink]="['/reviews']" class="waves-effect waves-light btn-large">Reseñas</a>
        </div>
    </div>
    <div class="row hide-on-med-and-up center-align">
        <div class="col s12 ">
            <a href="https://psicologiaonline.simplybook.it" onclick="handleOutboundLinkClicks(event)">
                <div class="card blue-grey darken-1 ">
                    <div class="card-content white-text" id="card-call">
                        <span class="card-title">Reserva tu terapia</span>
                        <ul>
                            <li><span class="cita-movil">+34 644435941</span></li>
                            <li>Presencial</li>
                            <li>Online</li>
                            <li>Domicilio</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 ">
            <a [routerLink]="['/reviews']">
                <div class="card blue-grey darken-1 ">
                    <div class="card-content white-text" id="card-call">
                        <span class="card-title">Reseñas</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Modal Trigger -->
<a #myDiv id="abrirModal" class="waves-effect waves-light btn modal-trigger" href="#modal1" (click)="abrirModal()">Modal</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>SERVICIO ESPECIAL COVID-19</h4>
        <p>Como parte de nuestro compromiso social, añadimos un nuevo servicio de terapia online para todas aquellas personas que presenten dificultades en el afrontamiento de la situación generada por la alarma sanitaria, con alto grado de sufrimiento psicológico
            y malestar emocional. Realizaremos una primera sesión gratuita donde evaluaremos tu situación y plantearemos pautas de prevención y/o tratamiento. </p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>
<app-fixed-botton></app-fixed-botton>
<div class="container animated fadeIn slow">
    <div class="row hide-on-med-and-down">
        <div class="col s12">
            <p class="flow-text ">
                En Psicología Miraflores trabajamos desde 2013 acercando la psicología a los vecinos de la sierra norte de Madrid.
                Ofrecemos terapia psicológica a personas adultas que presentan dificultades y preocupaciones en su vida diaria en el ámbito personal, familiar o de pareja. 
                Te atenderemos en nuestras consultas o en formato online.
                Psicología Miraflores esta compuesto por un equipo de profesionales cualificados con amplia experiencia.
                Te animamos a que contactes con nosotros y puedas valorar si somos las personas adecuadas para ayudarte, estaremos encantados de recibirte.
            </p>
        </div>
    </div>
    <div class="row">

        <app-card></app-card>
    </div>
    <app-cookies></app-cookies>
</div>
<app-footer></app-footer>