<div class="parallax-container">
    <div class="parallax"><img src="../../../assets/img/light-bulb.jpg"></div>
    <div class="container botonesParallax hide-on-small-only">
        <div class="boton4">
            <a [routerLink]="['/localizacion/0']" class="waves-effect waves-light btn-large miraflores"><i class="material-icons right">landscape</i>Miraflores de la Sierra</a>
        </div>
        <div class="boton3">
            <a [routerLink]="['/localizacion/2']" class="waves-effect waves-light btn-large colmenar"><i class="material-icons right">location_city</i>Colmenar Viejo</a>
        </div>
        <div class="boton6">
            <a [routerLink]="['/localizacion/3']" class="waves-effect waves-light btn-large colmenar"><i class="material-icons right">landscape</i>Soto del Real</a>
        </div>
        <div class="boton1">
            <a [routerLink]="['/localizacion/1']" class="waves-effect waves-light btn-large madrid"><i class="material-icons right">location_city</i>Madrid - Goya</a>
        </div>


        <div class="boton2">
            <a href="https://psicologiaonline.simplybook.it" onclick="handleOutboundLinkClicks(event)" class="waves-effect waves-light btn-large valign-wrapper" id="btn-online"><i class="material-icons right">web</i>Terapia online</a>
        </div>

        <div class="boton5">
            <a href="#" class="waves-effect waves-light btn-large"><i class="material-icons right">perm_phone_msg</i>Llámanos 644435941</a>
        </div>
        <div class="boton7">
            <a id="zl-url" class="zl-url reservar" href="https://www.doctoralia.es/irene-gallego-cuenca/psicologo/madrid" rel="nofollow" data-zlw-doctor="irene-gallego-cuenca" data-zlw-type="big" data-zlw-opinion="true" data-zlw-hide-branding="true">Irene Gallego Cuenca - Doctoralia.es</a>
        </div>
    </div>

    <div class="row hide-on-med-and-up center-align">
        <div class="col s12">
            <a href="tel:644435941" class="llamanosMovil">
                <div class="card blue-grey darken-1 ">
                    <div class="card-content white-text" id="card-online">
                        <span class="card-title">Atención presencial</span>
                        <ul>
                            <li>Madrid</li>
                            <li>Colmenar Viejo</li>
                            <li>Miraflores de la Sierra</li>
                            <li>Soto del Real</li>
                        </ul>
                        <p>Cita previa 644435941</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 ">
            <a href="https://www.doctoralia.es/irene-gallego-cuenca/psicologo/madrid" rel="nofollow" data-zlw-doctor="irene-gallego-cuenca" data-zlw-type="big" data-zlw-opinion="true" data-zlw-hide-branding="true">
                <div class="card blue-grey darken-1 ">
                    <div class="card-content white-text" id="card-call">
                        <span class="card-title">Reserva cita presencial</span>
                        <ul>
                            <li>Pide hora</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
        <div class="col s12 ">
            <a href="https://psicologiaonline.simplybook.it" onclick="handleOutboundLinkClicks(event)">
                <div class="card blue-grey darken-1 ">
                    <div class="card-content white-text" id="card-call">
                        <span class="card-title">Terapia online</span>
                        <ul>
                            <li>Reserva terapia online</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row hide-on-med-and-down">
        <div class="col s12">
            <p class="flow-text ">
                Psicóloga colegiada con siete años de experiencia en clínica privada, especializada en terapia de adultos, adolescentes y terapia de pareja. Las consultas están situadas en Madrid zona Goya, y en los municipios de la sierra norte madrileña: Miraflores
                de la Sierra y Colmenar Viejo. A su vez, cuenta con un sistema exclusivo y novedoso de consultas online. Sistema basado en su experiencia clínica y usando los medios actuales de comunicación.
            </p>
        </div>
    </div>
    <div class="row">

        <app-card></app-card>
    </div>
    <app-cookies></app-cookies>
</div>
<app-footer></app-footer>