.parallax-container {
    min-height: 300px;
    height: 370px;
    margin: 20px 0;
}

p {
    font-weight: lighter;
}

a.waves-effect.waves-light.btn-large {
    width: 100%;
    background-color: rgba(61, 179, 199, 0.7);
}

@media only screen and (min-width: 993px) {
    .parallax-container .row {
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    .parallax-container {
        height: 500px;
    }
}

.botonesParallax {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "madrid     reservar" "colmenar   reservar" "miraflores reservar" "soto       reservar" "online     reservar" "llamanos   reservar";
    grid-gap: 10px 30px;
    margin-top: 10px;
}

.sesion-online {
    font-size: .8em;
    display: block;
}

#card-call,
#card-online {
    min-height: 0px;
    background-color: rgba(61, 179, 199, 0.7);
    padding: 18px;
}

#carousel-opiniones {
    height: 170px !important;
    margin: 0 10px;
}

.carousel-item-one {
    background-color: hsla(189, 55%, 51%, 0.7)
}

.carousel-item-two {
    background-color: hsla(189, 55%, 41%, 0.7)
}

.carousel-item-three {
    background-color: hsla(189, 55%, 31%, 0.7)
}

.carousel-item-four {
    background-color: hsla(189, 55%, 21%, 0.7)
}

#carousel-opiniones .carousel-item h2 {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 20px;
}

#carousel-opiniones.carousel.carousel-slider {
    top: 30px;
    left: 0;
}

#carousel-opiniones.carousel .indicators {
    bottom: -20px;
}

.carousel-item h2 {
    padding: 0 10px;
}

.boton7 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
}

.opinion-widget .branding {
    background: rgba(61, 179, 199, 0.7);
}