<section class="container">

    <div class="row">
        <div class="col s12 center-align">
            <h1>Despacho de Madrid</h1>
        </div>
    </div>
    <div class="hide-on-small-only">
        <h2>Escondido en small</h2>
    </div>
    <div class="row hide-on-med-and-up center-align">
        <div class="row">
            <div class="col s12">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">event_seat</i>Consulta</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12">
                                    <p class="flow-text">
                                        La consulta de Madrid-Goya nos permite recibir a los pacientes que residen en diferentes zonas de la capital.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <figure>
                                        <img class="responsive-img" src="images/despachoGoya.jpg" alt="Despacho Madrid">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Ubicación</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12">
                                    <p class="flow-text">
                                        Gracias a su magnífica ubicación en la Calle Goya, en el corazón del Barrio de Salamanca, es muy sencillo su acceso desde diferentes puntos de la ciudad a través de metro (estación metro Goya, líneas 2 y 4), múltiples autobuses, taxis y parkings en las
                                        inmediaciones.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3611.958101954402!2d-3.678575353117273!3d40.424740419117306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228bca1c2b39d%3A0x8b4ead1e5f6aeff1!2sCalle+de+Goya%2C+83%2C+28001+Madrid!5e0!3m2!1ses!2ses!4v1512760931794"
                                        width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">spa</i>Terapia</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12">
                                    <p class="flow-text">
                                        Atendemos terapia individual para adultos, adolescentes y terapia de pareja. La terapia infantil en la actualidad se realiza en la consulta de Miraflores de la Sierra, dada sus características especiales y los materiales terapéuticos específicos necesarios
                                        para su desarrollo.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>