<section class="container animated fadeIn slow">
    <div class="row">
        <div class="col s12 center-align">
            <h1>Psicóloga</h1>
        </div>
    </div>
    <div class="row">
        <div>
            <figure class="col m12 offset-m2">
                <img class="responsive-img" src="../../../assets/img/psicologa.JPG" alt="Psicologa">
                <figcaption class="pie-foto">
                    La psicóloga sanitaria Irene Gallego es Titular del Centro de Psicología inscrito en el Registro de Centros, Servicios y Establecimientos Sanitarios de la Comunidad de Madrid.
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <p class="flow-text">
                Atendemos principalmente a adultos, adolescentes y parejas interesadas en resolver, afrontar o aceptar algún estado emocional negativo de su vida. La dirección que seguimos es mejorar la calidad de vida de las personas que demandan ayuda psicológica,
                ofreciendo terapias orientadas a resultados, en los que se trabaja con técnicas psicológicas de demostrada eficacia clínica. Nuestros enfoques de referencia son el Cognitivo-conductual y las Terapias Contextuales.
            </p>
            <ol id="listado">
                <li class="flow-text">Tratamiento de trastornos psicológicos y problemas emocionales.</li>
                <li class="flow-text">Mediación en conflictos familiares y empresariales.</li>
                <li class="flow-text">Formación en Habilidades sociales para grupos.</li>
                <li class="flow-text">Talleres de mindfulness y regulación emocional para empresas.</li>
                <li class="flow-text">Orientación profesional y asesoramiento en búsqueda de empleo:</li>
                <ol>
                    <li class="flow-text">Elaboración del curriculum vitae</li>
                    <li class="flow-text">Formación en herramientas de búsqueda</li>
                    <li class="flow-text">Preparación de entrevistas por competencias.</li>
                </ol>

            </ol>

            <h2 class="center-align">Trayectoria profesional</h2>

            <p class="flow-text">Irene Gallego se licenció en 2008 y fundó en 2013 su consulta de psicología bajo el nombre Psicología Miraflores. Actualmente atiende allí a sus pacientes y colabora en el despacho del <a href="http://jorgebarraca.com/psicologo-clinico/">Dr.Barraca</a>                </p>

            <p class="flow-text">Anteriormente trabajó durante cuatro años en consultas privadas de Madrid con gran volumen de pacientes lo que le permitió adquirir mucha experiencia en la práctica clínica. </p>

            <h2 class="center-align">Formación y supervisión profesional</h2>
            <p class="flow-text">Licenciada en Psicología (UAM) y Master en Psicología Clínica y de la Salud (UCM)</p>
            <p class="flow-text">Comprometida con su formación continua, Irene Gallego recibe supervisión clínica profesional de la mano del <a href="http://jorgebarraca.com/psicologo-clinico/">Dr.Barraca</a> y asiste a conferencias y cursos periódicamente relacionados con
                los abordajes clínicos de su interés como la formación avanzada en terapias contextuales: Terapia de Aceptación y Compromiso (ACT), Activación Conductual (AC), Terapia Analítico Funcional (FAP), Mindfulness (MBSR), Terapia Integral de
                Pareja (TIP).</p>
            <p class="flow-text">Si quiere conocer el perfil profesional de forma detallada, puede solicitar su visualización en <a href="https://www.linkedin.com/in/irenegallegocuenca">LinkedIn</a> </p>
        </div>
    </div>
</section>


<app-footer></app-footer>