<section class="container animated fadeIn slow">
    <div class="row">
        <div class="col s12 center-align">
            <h1>Sobre nosotros</h1>
        </div>
    </div>
    <div class="row">
        <div>
            <figure class="col m10 offset-m2">
                <img class="responsive-img" src="../../../assets/img/IreneGallego.jpg" alt="Psicologa">
                <figcaption class="pie-foto">
                    La psicóloga sanitaria Irene Gallego es Titular del Centro de Psicología inscrito en el Registro de Centros, Servicios y Establecimientos Sanitarios de la Comunidad de Madrid.
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <p class="flow-text">
                En Psicología Miraflores trabajaremos juntos en tus problemas, miedos y preocupaciones cotidianas. 
            </p>
            <p class="flow-text">
                Nuestro objetivo es mejorar tu relación contigo mismo, promoviendo el cuidado  de tu salud mental y emocional.
            </p>
            <p class="flow-text">
                Contamos con la flexibilidad y los profesionales adecuados para brindar un paquete de atención psicológica versátil y adaptada  a tu situación personal y disponibilidad.
            </p>
            <p class="flow-text">
               <i>Ofrecemos terapia psicológica a <a href="https://psicologiamiraflores.com/#/especialidad/0">personas adultas</a> que presentan dificultades y preocupaciones en su vida diaria en el ámbito personal, familiar o de <a href="https://psicologiamiraflores.com/#/especialidad/2">pareja</a>.</i>
            </p>
            <figure class="col m9 offset-m3">
                <img class="responsive-img" src="../../../assets/img/IreneGallegoAtencion.jpg" alt="Psicologa">
            </figure>
            <p class="flow-text">
                Ofrecemos atención presencial en nuestras consultas de Miraflores de la Sierra y Madrid (zona Goya). Atención a domicilio (bajo petición y sujeto a disponibilidad) en Miraflores de la Sierra y alrededores (Soto del Real, Manzanares el Real, Guadalix de la Sierra, Colmenar Viejo). Y atención online si lo prefieres o resides fuera de Madrid o en el extranjero.
            </p>
            <figure class="col m11 offset-m1 terapia-online">
                <a href="https://psicologiaonline.simplybook.it">
                    <img class="responsive-img" src="../../../assets/img/terapiaOnline2.jpg" alt="Terapia online">
                </a>
            </figure>


            <h2 class="center-align">Trayectoria profesional</h2>
            <p class="flow-text">Irene Gallego se licenció en Psicología por la Universidad Autónoma de Madrid en 2008. </p>

            <p class="flow-text">Completo sus estudios en el ámbito clínico cursando el Master de Psicología Clinica y de la Salud de la Universidad Complutense de Madrid. </p>

            <p class="flow-text">
                Sus inicios como psicóloga fueron en consultas privadas de Madrid. Durante cinco años trabajó con gran volumen de pacientes y diferentes demandas de atención psicológica: adultos, adolescentes y parejas. Todo ello permitió adquirir mucha experiencia en
                la práctica clínica.
            </p>

            <p class="flow-text">
                En 2013 fundó su consulta de psicología bajo el nombre Psicología Miraflores.
            </p>
            <figure class="col m8 offset-m4">
                <img class="responsive-img" src="../../../assets/img/logo.png" alt="Psicologia Miraflores">
            </figure>


            <p class="flow-text">
                Actualmente compagina la actividad de su consulta con la colaboración en el despacho del <a href="http://jorgebarraca.com/psicologo-clinico/">Dr.Barraca</a> y en la Clínica Médica el Real.
            </p>

            <p class="flow-text">
                Además de la actividad clínica, realiza actividad académica y docente en diferentes estudios de postgrado:  Master de Terapias Contextuales de la Universidad de Almería y en el Master General Sanitario de la Universidad Alfonso X. Entre sus funciones,  desarrolla tareas de supervisión del ejercicio clínico y la dirección de los TFM de los alumnos.
            </p>

            <p class="flow-text">
                Comprometida con su formación continua, Irene Gallego recibe supervisión clínica y asiste a congresos y jornadas profesionales periódicamente relacionados con los abordajes clínicos de su interés: Terapias contextuales, psicología perinatal, psicodrama.
            </p>
            <p class="flow-text">Si quiere conocer el perfil profesional de forma detallada, puede solicitar su visualización en <a href="https://www.linkedin.com/in/irenegallegocuenca">LinkedIn</a> </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <h2>Colaboradores</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <h3>Ariadna</h3>
        </div>
    </div>
    <div class="row">
        <div>
            <figure class="col m7 offset-m3">
                <img class="responsive-img" src="../../../assets/img/ariadna.jpg" alt="Colaboradora">
                <figcaption class="pie-foto">
                    Colaboradora en Psicología Miraflores Online
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <p class="flow-text">
                Licenciada en Psicología por la Universidad de Barcelona en 2012 y con Máster en Psicología General Sanitaria por la Universidad Internacional de Valencia. Cuenta además con Máster en <strong>Psicooncología</strong> por la Universidad de Barcelona.
            </p>
            <p class="flow-text">
                Está especializada en terapias contextuales y de tercera generación. Su trayectoria profesional está vinculada a la atención tanto en <strong>modalidad online</strong> como presencial en <strong>consulta</strong>, en ámbito hospitalario, así como en <strong>domicilio</strong>.    
            </p>
            <p class="flow-text">
                Actualmente compagina su colaboración en Psicología Miraflores con su trabajo en la Asociación Española Contra el Cáncer, así como también en una plataforma de atención psicológica online.    
            </p>
            <p class="flow-text">
                A lo largo de su experiencia profesional ha tenido la oportunidad de conocer y acompañar a personas que, junto con sus familiares, se han sentido perdidos frente a <strong>acontecimientos vitales estresantes: diagnóstico de enfermedad grave, ruptura con la rutina diaria, afrontamiento y gestión de malas noticias, modelos de comunicación familiar, proceso de duelo, entre otros.</strong>  
            </p>
            <p class="flow-text">
               <strong>Su foco es el de ayudar a reconocer las propias emociones y a aprender a gestionarlas.</strong> En definitiva, trabajar para <strong>aumentar el autoconocimiento y generar un crecimiento personal,</strong> siempre desde un clima íntimo y cercano.    
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <h3>Isabel</h3>
        </div>
    </div>
    <div class="row">
        <div>
            <figure class="col m7 offset-m3">
                <img class="responsive-img" src="../../../assets/img/Isabel.jpeg" alt="Colaboradora">
                <figcaption class="pie-foto">
                    Colaboradora en Psicología Miraflores Online
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <p class="flow-text">
                Licenciada en Psicología por la Universidad Autónoma de Madrid  y Máster en Terapias de Tercera Generación por la Universidad Internacional de Valencia.
            </p>
            <p class="flow-text">
                <strong>Especialista en Terapia Sexual y de Pareja y en Intervención en Trauma.</strong>
            </p>
            <p class="flow-text">
                Con una visión <strong>integradora de la psicología</strong>, en formación continúa a través de cursos y seminarios desde diferentes orientaciones,  presta una atención especializada a cada paciente. <strong>Cree firmemente en el potencial de las personas para el cambio y su función es guiar y acompañar a las personas en su dolor psicológico</strong>.    
            </p>
            <p class="flow-text">
                Atiende a población adulta y adolescentes en diferentes problemáticas: <strong> emocionales, de ansiedad, de alimentación, relacionados con el trauma y el apego, sexuales, de pareja, etc.</strong>
            </p>
            <p class="flow-text">
                Trabaja a tiempo completo compaginando la terapia online con la presencial.    
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col s12 center-align">
            <h3>Gracia</h3>
        </div>
    </div>
    <div class="row">
        <div>
            <figure class="col m7 offset-m3">
                <img class="responsive-img" src="../../../assets/img/Gracia.jpg" alt="Colaboradora">
                <figcaption class="pie-foto">
                    Colaboradora en Psicología Miraflores Online
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <p class="flow-text">
                Graduada en Psicología por la Universidad Pontificia de Comillas. Psicóloga sanitaria y especialista en psicoterapia sistémico-relacional.    
            </p>
            <p class="flow-text">
                Especialista en psicología perinatal, acompaña en el proceso de ser madre o padre (embarazo, duelo perinatal, posparto o proceso de reproducción asistida).    
            </p>
            <p class="flow-text">
                Experiencia en psicoterapia individual con adultos en casos de duelo, malestar emocional de diverso tipo (depresión, ansiedad, estrés), dificultades relacionales (con familia, pareja, amigos), procesos migratorios, problemas de autoestima y dependencia emocional.     
            </p>
            <p class="flow-text">
                Además, se ha formado en psicoterapia breve de parejas para poder atender a parejas que no estén pasando por un buen momento de su relación y quieran sentirse mejor en la misma. También interviene procesos de separación y divorcio para que sean lo menos conflictivos posible.    
            </p>
        </div>
    </div>
</section>

<app-fixed-botton></app-fixed-botton>
<app-footer></app-footer>