<section class="container animated fadeIn slow">
  <div class="row">
      <div class="col s12 center-align">
          <h1>Reseñas</h1>
      </div>
  </div>
  <div class="row">
      <div>
          <figure class="col m10 offset-m2">
              <img class="responsive-img" src="../../../assets/img/con-un-paciente.jpg" alt="Psicologa">
          </figure>
      </div>
  </div>
  <div class="row">
      <div class="col m12">
        <h2 class="center-align">Doctoralia</h2>
        <figure class="col m8 offset-m3">
          <a id="zl-url-a" class="zl-url reservar" href="https://www.doctoralia.es/irene-gallego-cuenca/psicologo/madrid" rel="nofollow" data-zlw-doctor="irene-gallego-cuenca" data-zlw-type="big" data-zlw-opinion="true" data-zlw-hide-branding="true">Irene Gallego Cuenca - Doctoralia.es</a>
        </figure>
        
        <figure class="col m4 offset-m4">
          <a id="zl-url-b" class="zl-url" href="https://www.doctoralia.es/irene-gallego-cuenca/psicologo/soto-del-real" rel="nofollow" data-zlw-doctor="irene-gallego-cuenca" data-zlw-type="certificate" data-zlw-opinion="false" data-zlw-hide-branding="true">Irene Gallego Cuenca - Doctoralia.es</a>
        </figure>      
      </div>
  </div>
</section>

<app-fixed-botton></app-fixed-botton>
<app-footer></app-footer>
