<section class="container animated fadeIn slow">


    <div class="col s12">
        <h1 class="center-align"><span>AVISO LEGAL</span></h1>
        <p class="flow-text">
            Al acceder y utilizar este servicio, usted acepta y accede a estar obligado por los términos y disposiciones de este acuerdo. Asimismo, al utilizar estos servicios particulares, usted estará sujeto a toda regla o guía de uso correspondiente que se haya
            publicado para dichos servicios. Toda participación en este servicio constituirá la aceptación de este acuerdo. Si no acepta cumplir con lo anterior, por favor, no lo utilice. Según el artículo 10 de la Ley de Servicios de la Sociedad de la
            Información y del Comercio Electrónico (en adelante, LSSI), de forma obligatoria, permanente, fácil, directa y gratuita.
        </p>
        <p class="flow-text">
            Titularidad de la web: Irene Gallego Cuenca, CIF: 51094508P, dirección postal: Travesía de la luz, 5. 28792 Miraflores de la Sierra. Madrid. Correo electrónico: <a href="mailto:irenegc@cop.es">irenegc@cop.es</a>
        </p>
        <h2 class="center-align">Nombres de dominio</h2>
        <p class="flow-text">
            En el mismo sentido que lo referido en el apartado anterior, el nombre de dominio “psicologiamiraflores.com”, "irenegallego.com" y todos aquellos que sirvan para acceder de forma directa al presente Sitio Web son de titularidad exclusiva de Irene Gallego
            Cuenca. La indebida utilización de los mismos en el tráfico económico supone una infracción de los derechos conferidos por su registro y será perseguido por los medios previstos en la ley.
        </p>
        <h1 class="center-align">Política de privacidad</h1>
        <h2 class="center-align"><i>Política de protección de datos personales</i> </h2>
        <h2 class="center-align">Responsable del tratamiento de tus datos</h2>
        <p class="flow-text">
            Identidad: Irene Gallego Cuenca, DNI: 51094508P, dirección postal: Travesía de la luz, 5. 28792 Miraflores de la Sierra. Madrid. Correo electrónico: <a href="mailto:irenegc@cop.es">irenegc@cop.es</a>, (en adelante, la titular)
        </p>
        <h2 class="center-align">¿Cuál es la finalidad del tratamiento de tus datos personales?</h2>
        <p class="flow-text">
            En psicologiamiraflores.com tratamos la información que nos facilitan las personas interesadas con los siguientes fines:
        </p>
        <ul id="listado">
            <li>Organización de los servicios de la consulta de psicología y gestión de la agenda.</li>
            <li>Registro y seguimiento de la prestación de servicios que se ofrece a los pacientes.</li>
            <li>Mantenimiento de la historia clínica.</li>
            <li>Realizar gestiones de facturación.</li>
            <li>Informar de los servicios que ofrecemos.</li>
        </ul>
        <p class="flow-text">
            Con el fin de gestionar el envío de la información que nos soliciten, facilitar a los interesados ofertas de productos y servicios de su interés, poder ofrecerle nuestros productos y servicios de acuerdo con sus intereses, mejorar su experiencia de usuario.
            Para cumplir estos fines elaboraremos un perfil comercial en base a la información facilitada. No se tomarán decisiones automatizadas en base a los perfiles de la base de datos. Sí se enviarán correos electrónicos automatizados, previamente
            programados por el titular de los datos o de sus proveedores de servicios o asalariados, con la finalidad de enviar la información de las novedades del blog, y de los productos comerciales que se ofrecerán a través de esta web, tanto si están
            alojados en ella como en plataformas de terceros proveedores de dicho servicio. También utilizaremos todo tipo de cookies que consideremos adecuados a nuestra marca personal.
        </p>
        <h2 class="center-align">¿Por cuánto tiempo conservaremos tus datos?</h2>
        <p class="flow-text">
            Los datos personales proporcionados en la web psicologiamiraflores.com se conservarán durante un plazo de diez años a partir de la última confirmación de su interés. También se conservarán mientras se mantenga la relación terapéutica. Se harán desaparecer
            cuando se solicite su supresión o portabilidad por el interesado. Los datos identificativos del paciente y los que constan en su historia clínica se conservarán para la debida asistencia al mínimo durante el tiempo adecuado a cada caso y,
            como mínimo, cinco años contados desde la fecha del alta de cada proceso asistencial (art. 17.1 de la Ley 41/2002, de 14 de noviembre, básica reguladora de la autonomía del paciente y de derechos y obligaciones en materia de información y
            documentación clínica). Los datos de gestión administrativa del paciente se conservarán mientras esté vigente la relación de prestación de servicios. Los datos financieros y de facturación se conservarán hasta que no hayan prescrito las responsabilidades
            en materia fiscal (art.66 de la Ley 58/2003, de 17 de diciembre, general tributaria). Durante el mismo plazo se conservarán los datos de nuestros proveedores. Los datos de contacto que figuran en nuestras listas de distribución para envío
            de mailings informativos o newsletters, se conservaran mientras la persona destinataria lo autoriza. Se eliminan inmediatamente después de que lo solicite el interesado.
        </p>
        <h2 class="center-align">Legitimación</h2>
        <p class="flow-text">
            La base legal para el tratamiento de tus datos es la ejecución de la suscripción online al blog o al formulario de contacto de la web psicologiamiraflores.com así como el acceso a todos los productos adquiridos en dicha web. La oferta de productos y servicios
            está basada en el consentimiento que se te solicita, sin que en ningún caso la retirada de este consentimiento condicione la ejecución de servicios o la entrega de productos pendientes.
        </p>
        <p class="flow-text">
            El tratamiento de los datos de la historia clínica se lleva a cabo en cumplimiento de obligaciones legales de Irene Gallego Cuenca en el marco de la relación contractual de prestación de nuestros servicios.
        </p>
        <p class="flow-text">
            El tratamiento de los datos a efectos de organización y administración se tratan por el interés legítimo de Irene Gallego Cuenca y con el fin de poder ofrecer los servicios que los pacientes soliciten.
        </p>
        <p class="flow-text">
            Los datos de los proveedores de Irene Gallego Cuenca se tratan en cumplimiento de obligaciones legales y en el marco de la relación contractual con los mismos.
        </p>
        <p class="flow-text">
            Los datos de las personas que figuran en las listas de distribución de información se tratan en base al consentimiento de cada persona.
        </p>
        <h2 class="center-align">Destinatarios a los que se comunicarán tus datos</h2>
        <p class="flow-text">
            Si la asistencia sanitaria se realiza al amparo de pólizas o coberturas de las que el paciente sea beneficiario, Irene Gallego Cuenca podrá facilitar la información de los servicios prestados así como sus datos personales incluyendo los de salud, a las
            aseguradoras o entidades bajo cuya cobertura se presta la asistencia. La comunicación de esos datos se realiza de conformidad con el consentimiento previamente prestado por usted en la póliza suscrita con su Compañía Aseguradora, y resulta
            imprescindible para la cobertura y la facturación de los servicios prestados.
        </p>
        <p class="flow-text">
            Se comunican a entidades bancarias los datos de los proveedores a efectos de abono de las facturas emitidas.
        </p>
        <h2 class="center-align">¿Cuáles son tus derechos cuando nos facilitas tus datos?</h2>
        <p class="flow-text">
            Cualquier persona tiene derecho a obtener la confirmación sobre si Irene Gallego Cuenca está tratando datos personales que les conciernan o no. Las personas interesadas tienen derecho a acceder a sus datos personales, así como a solicitar la rectificación
            de los datos inexactos o, en su caso, solicitar su supresión cuando entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos. En determinadas circunstancias, los interesados podrán solicitar la limitación del
            tratamiento de sus datos, en cuyo caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones. En determinadas circunstancias y por motivos relacionados con su situación particular, los interesados podrán oponerse al
            tratamiento de sus datos. Irene Gallego Cuenca dejará de tratar los datos, salvo por motivos legítimos imperiosos o el ejercicio o la defensa de posibles reclamaciones.
        </p>
        <h2 class="center-align">¿Cómo hemos obtenido tus datos?</h2>
        <p class="flow-text">
            Los datos personales que tratamos proceden o bien de la propia web, correo electrónico, mensajería instantánea o correo postal de nuestra empresa o bien porque la persona solicitó nuestros servicios en consulta. Las categorías de datos que tratamos son:
            Datos de identificación, códigos o claves de identificación, direcciones postales o electrónicas, información comercial, datos económicos. También informamos que no obtenemos datos especialmente protegidos de forma habitual. Si llegan a nuestra
            empresa datos especialmente protegidos los protegeremos de acuerdo con la normativa vigente.
        </p>
        <h2 class="center-align">¿Cuáles son los derechos de las personas de quienes tratamos los datos?</h2>
        <p class="flow-text">
            Cualquier persona tiene derecho a saber si la titular está tratando datos personales que la conciernen, o no. En caso de que sea así los interesados tienen derecho a acceder a sus datos personales, así como a solicitar la rectificación de las inexactas
            o, en su caso, solicitar su supresión cuando los datos ya no sean necesarios para las finalidades para las que se recogieron.
        </p>
        <p class="flow-text">
            En determinadas circunstancias los interesados pueden oponerse al tratamiento, pedir la portabilidad de los datos o solicitar la limitación del tratamiento de sus datos. El derecho a la portabilidad es el derecho a obtener los datos en un formato estructurado
            de uso común y transmitirlo a otro responsable. En caso de que se solicite la limitación del tratamiento únicamente los podremos tratar con el consentimiento de la persona interesada, o para formular, ejercer o defendernos de reclamaciones,
            o para proteger los derechos de otra persona física o jurídica, o por razones de interés público.
        </p>
        <h2 class="center-align">¿Cómo se pueden ejercer los derechos?</h2>
        <p class="flow-text">Mediante un escrito dirigido a Irene Gallego Cuenca, con mucho gusto atenderemos las sugerencias y responderemos las solicitudes de información o aclaraciones. Si el interesado considera que sus derechos no se han atendido adecuadamente, puede
            presentar una reclamación ante la Agencia Española de Protección de Datos, C/Jorge Juan, 6, 28001 Madrid. Con la misma finalidad, y también para recibir más información o aclaraciones sobre el tratamiento de los datos que llevamos a cabo,
            se puede contactar, con el delegado de Protección de Datos (DPD) a nuestra dirección postal o bien enviando un mensaje de correo electrónico a la dirección <a href="mailto:irenegc@cop.es">irenegc@cop.es</a></p>
        <h1 class="center-align">Responsabilidades</h1>
        <h2 class="center-align">Renuncia a cualquier responsabilidad</h2>
        <p class="flow-text">Esta página y sus componentes se ofrecen únicamente con fines informativos. Irene Gallego Cuenca, titular de esta página no se hace responsable de la exactitud, utilidad o disponibilidad de cualquier información que se transmita o ponga a disposición
            a través de la misma; no será responsable por cualquier error u omisión en dicha información. Los usuarios de esta página que den sus datos personales, con la aceptación del consentimiento informado renuncian a cualquier indemnización que
            por el uso legal de esos datos les pudiera corresponder, no pudiendo ejercer ninguna reclamación legal por ello. De querer ostentarla, no deben ceder sus datos en este sitio web.</p>
        <h2 class="center-align">Menores de edad</h2>
        <p class="flow-text">Nuestros servicios y productos son para mayores de 18 años. Los menores de esta edad no están autorizados a utilizar nuestros servicios y no deberán, por tanto, enviarnos sus datos personales.</p>
        <h2 class="center-align">Política de enlaces de nuestra web. Responsabilidad</h2>
        <p class="flow-text">
            El prestador se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web, siempre que esta información haya sido manipulada o introducida por un tercero ajeno al mismo. El servicio de acceso al Portal incluye enlaces
            o links que pueden conducir al usuario a otros sitios y páginas web gestionados por terceros, sobre las que la titular no ejerce ningún tipo de control. En estos casos, la titular actúa como prestador de servicios de intermediación de conformidad
            con lo dispuesto en el artículo 17 de la LSSICE. La titular no responde ni de los contenidos ni del estado de dichos sitios y páginas web. El prestador no se hace responsable de la información y contenidos almacenados, a título enunciativo
            pero no limitativo, en foros, chat´s, generadores de blogs, comentarios, redes sociales o cualquier otro medio que permita a terceros publicar contenidos de forma independiente en la página web del prestador. No obstante y en cumplimiento
            de lo dispuesto en el art. 11 y 16 de la LSSICE, el prestador se pone a disposición de todos los usuarios, autoridades y fuerzas de seguridad, y colaborando de forma activa en la retirada o en su caso bloqueo de todos aquellos contenidos que
            pudieran afectar o contravenir la legislación nacional, o internacional, derechos de terceros o la moral y el orden público. No queremos que nos enlacen a otras páginas, quedando prohibido deep-links, enlaces IMG o de imagen, frames, que puedan
            hacer entender al usuario que están en otra web que no es la nuestra. El usuario debe ser consciente de que nuestra empresa no es responsable de las prácticas de privacidad de esas otras webs. Recomendamos a los usuarios que sean conscientes
            de que al utilizar uno de estos links están abandonando nuestra web y que lean las políticas de privacidad de esas otras webs que recaben datos personales. La presente política de privacidad sólo se aplica a los datos personales recabados
            a través de esta web.
        </p>

        <h1 class="center-align">Propiedad intelectual</h1>
        <p class="flow-text">
            El Usuario reconoce y acepta que todos los derechos de propiedad industrial e intelectual sobre los contenidos y cualesquiera otros elementos insertados en el Sitio Web pertenecen a Irene Gallego Cuenca. La totalidad del contenido del sitio web, incluyendo
            a título enunciativo pero no limitativo su programación, edición, compilación y demás elementos necesarios para su funcionamiento, los diseños, logotipos, texto y/o gráficos, imágenes, material gráfico o artístico presente en la web, son propiedad
            del prestador o en su caso dispone de licencia o autorización expresa por parte de los autores. Todos los contenidos del sitio web están protegidos por derechos de propiedad industrial e intelectual, inscritos en los correspondientes registros
            públicos bajo la titularidad de Irene Gallego Cuenca o de terceros, sin que puedan entenderse cedidos al Usuario ninguno de los derechos de explotación sobre los mismos más allá de lo estrictamente necesario para el correcto uso del Portal.
            Se autoriza a cualquier persona física o jurídica el establecimiento en sus páginas o sitios web de enlaces a la web, tanto a su página principal como a cualquiera de sus páginas. No obstante, se prohíben expresamente los enlaces a cualquiera
            de las páginas del sitio web que impliquen el visionado de las mismas en el navegador por medio de marcos o frames. Todos los contenidos que se muestran en esta web, así como los infoproductos a la venta están sujetos y protegidos por los
            derechos de propiedad intelectual e industrial. No está permitido la alteración, explotación, reproducción, distribución o comunicación pública y puesta a disposición sobre los contenidos del curso sin la previa autorización expresa del titular
            de la web. La página y su contenido original, las características y la funcionalidad son propiedad de Irene Gallego Cuenca están protegidos por derechos de autor de carácter internacional, marcas registradas, patentes, secretos comerciales
            y demás leyes de propiedad intelectual o de derechos de propiedad.
        </p>
        <h1 class="center-align">Rescisiones, cambios y jurisdicción</h1>
        <h2 class="center-align">Cláusula de rescisión</h2>
        <p class="flow-text">
            Podemos cancelar tu acceso a la página, sin causa o aviso, lo cual podrá resultar en la incautación y destrucción de toda la información que esté asociada con su cuenta. Todas las disposiciones de este acuerdo que, por su naturaleza, deban sobrevivir
            a la cancelación sobrevivirán a ella, incluyendo sin limitación, las disposiciones de propiedad, renuncias de garantía, indemnización y limitaciones de responsabilidad.
        </p>
        <h2 class="center-align">Cambios de condiciones</h2>
        <p class="flow-text">
            La empresa se reserva el derecho de modificar estas condiciones cuando lo considere oportuno; asimismo, el uso permanente de la página significará su aceptación de cualquier ajuste a tales términos. Si hay algún cambio en nuestra política de privacidad,
            anunciaremos en nuestra página principal y en otras páginas importantes de nuestro sitio que se han hecho tales cambios. Si hay algún cambio en nuestra página respecto a la manera en que usamos la información de identificación personal de
            nuestros clientes, enviaremos una notificación por correo electrónico o correo postal a aquellos que sean afectados por el cambio. Todo cambio en nuestra política de privacidad se publicará en nuestra página 30 días antes de que tales cambios
            ocurran. Por lo tanto, se le recomienda volver a leer esta declaración de manera regular.
        </p>
        <h2 class="center-align">Sometimiento a tribunales</h2>
        <p class="flow-text">
            El código de conducta de psicologiamiraflores.com es el derivado de la correcta aplicación de las leyes existentes, así como de la aplicación de las mismas desde el sentido común. Con renuncia de sus propios fueros, las personas que contraten a través
            de la web psicologiamiraflores.com se someten expresamente a los Juzgados y Tribunales de Madrid. El presente contrato se formaliza en lengua castellana. Las condiciones generales a las que está sometido este contrato se encuentran en la web
            psicologiamiraflores.com
        </p>
    </div>


</section>
<app-footer></app-footer>