<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a [routerLink]="['/localizacion/0']">Miraflores</a></li>
    <li><a [routerLink]="['/localizacion/1']">Madrid</a></li>
    <li class="divider"></li>
    <li><a [routerLink]="['/localizacion/2']">Colmenar</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li routerLinkActive="active"><a [routerLink]="['home']">Inicio</a></li>
            <li routerLinkActive="active"><a [routerLink]="['psicologa']">Psicologa</a></li>
            <li routerLinkActive="active"><a class="dropdown-trigger" data-target="dropdown1">Localización<i class="material-icons right">arrow_drop_down</i></a></li>

            <li routerLinkActive="active"><a [routerLink]="['/especialidad/0']">Adultos</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/especialidad/1']">Adolescentes</a></li>
            <li routerLinkActive="active"><a [routerLink]="['/especialidad/2']">Terapia pareja</a></li>
            <!-- Dropdown Trigger -->

        </ul>
    </div>
</nav>