<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li routerLinkActive="active"><a [routerLink]="['home']">Inicio</a></li>
            <li routerLinkActive="active"><a [routerLink]="['psicologa']">Psicologa</a></li>
            <li routerLinkActive="active"><a class="dropdown-trigger" [routerLink]="['localizacion']" data-target="dropdown1">Localización<i class="material-icons right">arrow_drop_down</i></a></li>

            <li routerLinkActive="active"><a [routerLink]="['especialidad']">Adultos</a></li>
            <li routerLinkActive="active"><a [routerLink]="['especialidad']">Adolescentes</a></li>
            <li routerLinkActive="active"><a [routerLink]="['especialidad']">Terapia pareja</a></li>
            <!-- Dropdown Trigger -->

        </ul>
    </div>
</nav>