<section class="container animated fadeIn slow">
    <div class="row loader" *ngIf="cargando">
        <div class="col s2 push-s6 ">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper">
                    <div class="circle"></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l10 s12">
            <app-blog-entry *ngFor="let post of posts" [post]="post"></app-blog-entry>
        </div>
        <div class="col l2 s12">

        </div>
    </div>

</section>
<app-fixed-botton></app-fixed-botton>
<app-footer></app-footer>