<section class="container animated fadeIn slow">
    <div class="row loader" *ngIf="cargando">
        <div class="col s2 push-s6 ">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper">
                    <div class="circle"></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l12">
            <app-blog-list *ngFor="let post of posts" [post]="post"></app-blog-list>
        </div>
    </div>
    <div class="row">
      <div class="col offset-m4 offset-s3">
        <ul class="pagination">
          <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
          <li 
          *ngFor="let pagination of postsPagination; index as i"
          class="waves-effect waves-light"
          [ngClass]="{'active': indexPosts === i, 'disabled': indexPosts === i }"
          disabled><a (click)="navigationPagination($event)">{{ i + 1 }}</a></li>
          <li class="disabled"><a ><i class="material-icons">chevron_right</i></a></li>
        </ul>
      </div>
    </div>

</section>
<app-fixed-botton></app-fixed-botton>
<app-footer></app-footer>